html {
  font-size: 1em; }

body {
  background: #4DC08C; }

section {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

section:before {
  content: '';
  display: table; }

section:after {
  content: '';
  display: table;
  clear: both; }
  section .main {
    width: calc(99.99% * 1/1 - (30px - 30px * 1/1)); }
  section .main:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }
  section .main:last-child {
  margin-right: 0; }
  section .main:nth-child(1n) {
  margin-right: 0;
  float: right; }
  section .main:nth-child(1n + 1) {
  clear: left; }
    section .main h1 {
      margin-top: 64px;
      margin-top: 4rem;
      text-align: center;
      text-transform: uppercase; }
    section .main img {
      max-width: 400px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block; }
